<div class="tino-page">

  <!-- HERO -->
  <section class="hero">
    <div class="grid">

      <!-- TEXTO HERO -->
      <div class="col-12 lg:col-6">
        <h1 class="titulo">
          Él es <span>Tino</span>
        </h1>

        <p class="subtitulo">
          Mi perrito amado ❤️
        </p>
      </div>

      <!-- IMAGEN -->
      <div class="col-12 lg:col-6 flex justify-content-center">
        <div class="corazon">
          <img src="assets/img/tino.png" alt="Tino">
        </div>
      </div>

    </div>
  </section>


  <!-- INFO (siempre debajo del hero) -->
  <section class="info-section">
    <div class="grid">

      <div class="col-12 lg:col-8">

        <div class="textos">

          <div class="info-box">
            <i class="pi pi-heart-fill"></i>
            <div>
              <h3>Tiene cáncer, su tratamiento tiene costos elevados</h3>
              <p>
                El tumor está en su lengua y en su linfonodo, el tratamiento es cirugía y electro quimioterapia.
              </p>
            </div>
          </div>

          <div class="info-box">
            <i class="pi pi-ticket"></i>
            <div>
              <h3>Estamos haciendo una rifa</h3>
              <p>Para cubrir los gastos de su operación.</p>
              <p>Cada boleto tiene un valor de $3</p>
              <p-confirmdialog />
              <a href="#" (click)="premios($event)">Mira los premios aquí</a>
            </div>
          </div>

          <div class="info-box">
            <i class="pi pi-wallet"></i>
            <div>
              <h3>Datos bancarios</h3>
              <h4>Para donaciones y compra de boletos:</h4>
              <p>
                Banco Pichincha<br>
                Cuenta de Ahorros<br>
                Nro: 4188986400<br>
                CI: 1714361647<br>
                Gabriela Zapata
              </p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </section>


  <!-- FORM -->
  <section class="form-section">
    <div class="grid">

      <div class="col-12 lg:col-6">

        <div class="ticket-form">
          <h2>🎫 Compra de boletos</h2>

          <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

            <div class="field">
              <label>Nro. de boletos:</label>
              <p-inputNumber formControlName="cantidadBoletos" [showButtons]="true" class="w-full">
              </p-inputNumber>
            </div>

            <div class="field">
              <label for="nombre">Nombre completo:</label>
              <input pInputText id="nombre" formControlName="nombre" class="w-full">
            </div>

            <div class="field">
              <label for="apodo">Apodo:</label>
              <input pInputText id="apodo" formControlName="apodo" class="w-full">
            </div>

            <div class="field">
              <label for="email">Email:</label>
              <input pInputText id="email" formControlName="email" class="w-full">
            </div>

            <div class="field">
              <label for="whatsapp">WhatsApp:</label>
              <input pInputText id="whatsapp" formControlName="whatsapp" class="w-full">
            </div>

            <p-button type="submit" label="Grabar y generar boletos" icon="pi pi-heart" styleClass="w-full">
            </p-button>
          </form>
          @if(nrosBoletos() !== '')
          {
          <div class="boletos">
            <span>
              <b>¡Gracias por ayudar a la recuperación de mi Tino!</b><br>
              <p>Tus boletos quedan reservados, para confirmarlos envía el comprobante de pago al WhatsApp <b>0998104414</b></p>
              {{ nrosBoletos() }}
            </span>
          </div>
          }
        </div>
      </div>
    </div>
  </section>

</div>